parameters:
  level: 7
  paths:
    - ./src
  ignoreErrors:
    # False positive
    - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::get#'
    - '#bovigo\\callmap\\ClassProxy given#'
    - '#expects string\|stubbles\\streams\\InputStream, int given#'