includes:
  - vendor/bovigo/assert/src/main/resources/phpstan/bovigo-assert.neon
parameters:
  inferPrivatePropertyTypeFromConstructor: true
  level: max
  paths:
      - ./src
  ignoreErrors:
      # False positive
      - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::get#'
      # phpstan thinks this can't be reached but only based on allowed types from doc comment
      -
          message: '#Unreachable statement - code above always terminates#'
          path: src/main/php/file/FileInputStream.php
      # Explicit tests for invalid arguments
      -
          message: '#expects string\|stubbles\\streams\\InputStream, int given#'
          path: src/test/php/file/FileInputStreamTest.php
      -
          message: '#method stubbles\\streams\\ResourceInputStreamTest::createResourceInputStream\(\) expects resource, string given#'
          path: src/test/php/ResourceInputStreamTest.php
      -
          message: '#method stubbles\\streams\\ResourceOutputStreamTest::createResourceOutputStream\(\) expects resource, string given#'
          path: src/test/php/ResourceOutputStreamTest.php